<%= render "devise/shared/partial-header" %>

<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

#ログイン画面内の各種入力フォームを設定する
  <div class="field">
    <th><%= f.label :email,"メールアドレス" %></th><br />
    <td><%= f.email_field :Email, autofocus: true, autocomplete: "email" %></td>
  </div>

  <div class="field">
    <th><%= f.label :Password,"パスワード" %></th>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <td><%= f.password_field :password, autocomplete: "new-password" %></td>
  </div>

  <div class="field">
    <th><%= f.label :password_confirmation %></th><br />
    <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
  </div>

  <div class="actions">
    <%= f.submit "ユーザーを新規登録する" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>

<%= render "devise/shared/partial-footer" %>