<head>

 <%= render "devise/shared/partial-header" %>
 <div class="notifications">
  <% if flash.now[:notice] %>
   <div class="notice"><%= flash.now[:notice] %></div>
  <% end %>
 </div>

<!-- bootstrapで必要なCSSを以下に記載　-->
 <style>

  .sign-up{
   padding-top: 40px;
   font-size: 16px;
  }

  .container{
   max-width: 720px;

   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto; 
  }

  .sign-up-flame{
   max-width: 600px;
   text-align: center;
   padding: 24px;
   margin: 0 auto;
   background-color: white;
   border-radius: 5px;
   border: 1px solid gray;
  }

  .sign-up-container{
   align-items: center; 
  }

  span{
   font-size: 16px;
   text-align: center;
   margin-bottom: 1.5rem; 
  }

  .sign-up-inner{
    width: 360px;
    margin: 0px auto;
  }

  form{
   display: block;
   margin-top: 0em;
  }

  .field{
    margin-bottom: 10px;
  }

  .form-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
   }

  .col-2{
   flex: 0 0 16.666667%;
   max-width: 16.666667%;
  }

  .pt-2{
   padding-top: 0.5rem;
  }

  .required::before{
    content: "必須";
    background-color: #ED1A3D;
    color: white;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif;
    height: 5px;
    width: 10px;
    margin: 0 5px;
    padding: 5px;
    border-radius: 3px;
  }

  .px-2{
   padding-right: 0.5rem;
   padding-left: 0.5rem;
  }

  .form-control{
   display: block;
   width: 100%;
   height: calc(1.5em + 0.75rem + 2px);
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #495057;
   background-color: white;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
  }

  .col-10{
   flex: 0 0 83.33333%;
   max-width: 83.33333%;
  }

  .actions{
   margin-bottom: 10px;
  }

 </style>
</head>


<body>

 <div class="sign-up container">
  <div class="sign-up-flame">

   <span>新しいアカウントを作成</span>
    <div class="sign-up-inner">
     <%= form_with model: @member,url: member_registration_path, local: true do |f| %>
    
<!-- 新規登録画面の入力内容を実装する -->
    
      <div class="field form-row">
 　    <div class="col-2 required pt-2">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control col-10 px-2", placeholder:"ユーザー名" %>
       </div>
      </div>
    
      <div class="field form-row">
       <div class="col-2 required pt-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control col-10 px-2", placeholder:"メールアドレス" %>
       </div>
      </div>

      <div class="field form-row">
       <div class="col-2 required pt-2">
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control col-10 px-2", placeholder:"パスワード" %>
       </div>
      </div>

      <div class="field form-row">
       <div class="col-2 required pt-2">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control col-10 px-2", placeholder:"パスワード(確認用)" %>
       </div>
      </div>

      <%= f.hidden_field :member_id, value: @member.id %>
    
      <div class="actions">
       <%= f.submit "新しいアカウントを作成", class:"btn form-control btn-primary my-4" %>
      </div>
     <% end %>

     <%= link_to "すでにアカウントをお持ちの方はログイン", new_member_session_path %>
    </div>

  </div>
 </div>


<%= render "devise/shared/partial-footer" %>


<!-- jQuery --> <!--　必要なJS系リンクをbody閉じタグ直前におく　-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<!-- popper.js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<!-- bootstrap.js --><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
