<%= render partial: "devise/shared/partial-header" %>

<div class="new-user-field">
<p class="sign_up_title">新しいアカウントを作成</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div id="required">
    <td><%= f.text_field :name, autofocus: true, autocomplete:"name", placeholder:"ユーザー名" %></td>
    </div>

    <div id="required">
    <td><%= f.email_field :email, autofocus: true, autocomplete:"email", placeholder:"メールアドレス" %></td>
    </div>

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <div id="required">
    <td><%= f.password_field :password, placeholder:"パスワード" %></td>
    </div>
   
    <div id="required">
    <td><%= f.password_field :password_confirmation, placeholder:"パスワード確認用" %></td>
    </div>

  <div class="actions">
    <%= f.submit "新しいアカウントを作成" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
</div>

<%= render partial: "devise/shared/partial-footer" %>