<%= render "members/shared/partial-header" %>

<div class="user-show-form">
<p class="user-show-title">アカウント確認</p>

<%= form_with model: @member,url: members_account_path,local: true do |f| %>
  <%= render "members/shared/error_messages", resource: resource %>

<!--　アカウント確認画面を設定する　-->
    <div class="show-form">
    <p id="show-form-label"><%= f.label :メールアドレス %></p>
    <%= @member.email %><br />
    </div>

    <div class="show-form">
    <p id="show-form-label"><%= f.label :パスワード %><br /></p>
    <%= @member.password %>
    </div>

  <div class="actions">
    <%= button_to "編集",edit_member_registration_path %>
  </div>
<% end %>
</div>

<%= render "members/shared/partial-footer" %>
