<%= render "members/shared/partial-header" %>

<div class="user-edit-form">
<p class="user-edit-title">アカウント編集</p>

<%= form_with model: @member, url: edit_member_registration_path, local: true do |f| %>
  <%= render "members/shared/error_messages", resource: resource %>

<!--　アカウント編集画面を設定する　-->
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br />

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <%= f.label :変更後パスワード（変更する場合のみ入力） %><br />
    <%= f.password_field :password, autocomplete: "new-password" %><br />

    <%= f.label :パスワード確認用（変更する場合のみ入力） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br />

    <%= f.label :現在のパスワード %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>

  <div class="actions">
    <%= f.submit "更新" %><br />
    <%= link_to "戻る", :back %>
  </div>
<% end %>
</div>

<%= render "members/shared/partial-footer" %>
