<%= render partial: "devise/shared/partial-header" %>

<div class="user-field">
<h4>ログイン</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |user| %>
    <div id="required">
    <td><%= user.email_field :email, placeholder: "メールアドレス" %></td><br />
    </div>

    <div id="required">
    <td><%= user.password_field :password, placeholder:"パスワード" %></td><br />
    </div>

  <% if devise_mapping.rememberable? %>
      <td><%= user.check_box :remember_me %></td>
      <th><%= user.label :remember_me,"パスワードを記憶する" %></th><br />
  <% end %>

    <%= user.submit "ログイン" %>
<% end %>
</div>

<%= render partial: "devise/shared/partial-footer" %>