<%= render partial: "members/shared/partial-header" %>

<div class="new-room">

 <div class="new-room-form">
 <p class="new-room-title">ルーム情報登録</p>

 <%= form_with model:@room do |room|%> <!-- ルーム登録画面で各種情報を設定させる -->
  <table class="new-room">
  
   <tr>
    <th><%= room.label :name,"ルーム名" %></th>
    <td><%= room.text_field :name, :placeholder => "ルーム名を入力" %></td>
   </tr>

   <tr>
    <th><%= room.label :introduction,"ルーム紹介" %></th>
    <td><%= room.text_area :introduction, :placeholder => "ルーム説明を入力" %></td>
   </tr>

   <tr>
    <th><%= room.label :price,"料金" %></th>
    <td><%= room.number_field :price, :placeholder => "1日あたりの料金を入力" %></td>
   </tr>

   <tr>
    <th><%= room.label :address,"住所" %></th>
    <td><%= room.text_area :address, :placeholder => "住所を入力" %></td>
   </tr>

   <tr>
    <th><%= room.label :image,"ルーム画像" %></th>
    <td><%= room.file_field :image %></td>
   </tr>
  </table>

  <p><%= room.submit"登録" %></p>

 <% end %>
 </div>
</div>

<%= render partial: "members/shared/partial-footer" %>