<%= render partial: "members/shared/partial-header" %>

<div class="show-rooms">

<!-- 登録済みルームの情報を表示させる -->
  
<table>
 <tr>
  <th>ルーム名</th>
  <td><%= @room.name %></td>
 </tr>

 <tr>
  <th>ルーム紹介</th>
  <td><%= @room.introduction %></td>
 </tr>

 <tr>
  <th>料金</th>
  <td><%= @room.price %></td>
 </tr>

 <tr>
  <th>住所</th>
  <td><%= @room.address %></td>
 </tr>

 <tr>
  <th>ルーム画像</th>
  <td><%= image_tag @room.image.url, class:"show-images" %></td>  <!--　roomインスタンスの画像URLを使用して表示させる　-->
 </tr>

</table>
</div>

<%= render partial: "members/shared/partial-footer" %>